<%- include('partials/_header') %>

<!-- ================================Main Site================================ -->

<main id="site-main">
<div class="container">
    <div class="box-nav d-flex justify-between">
        <div class="filter">
           <a href="/"><i class="fas fa-angle-double-left"></i> Home Page</a>
        </div>
    </div>
    <div class="form-title text-center">
       <h2 class="text-dark">Login</h2>
       <span class="text-light">Login to Your Account</span>
    </div>
    <form action="/api/user" method="POST" id="login">
        <div class="login">
                <div class="form-group">
                    <label for="email" class="text-light">Email:</label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password" class="text-light">Password:</label>
                    <input type="text" placeholder="Enter Password" name="password" id="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Sign In</button>
                </div>
        </div>

        <div class="container signin">
            <p>Already have an account? <a href="/signin">Sign in</a>.</p>
        </div>

    </form>
</main>

<%- include('partials/_footer') %>


